<!-- FORMULARY TO USE 
  FOR ADD A NEW PRODUCT -->
<form class="card" action="{{ url_for('products.add_product') }}" method="POST">
  <div class="card-header">
    <!-- TITLE -->
    <h3 class="text-white text-start" id="title-product">Add a New Product</h3>

  </div>
  <div class="card-body">
    <label class="text-white" for="name">Product Name</label>
    <div class="form-control">
      <input type="text" id="name" name="productName" autofocus>
    </div>

    <label class="text-white" for="price">Product Price</label>
    <div class="form-control">
      <input class="text-center" type="number" id="price" name="productPrice">

    </div>

    <label class="text-white" for="date">Date</label>
    <div class="form-control">
      <input class="text-center" type="date" id="date" name="productDate">

    </div>

    <!-- SAVE BUTTON -->
    <div class="w-100 mx-auto text-center mt-4 mb-3">
      <button class="btn btn-success w-50" type="submit">Save</button>
    </div>

  </div>

</form>